[data-theme="dark"] {
    color: #eee !important;
    background-color: #030e1a !important;
}

[data-theme="dark"]  .carousel-inner {
    background-color: #030e1a !important;
}

[data-theme="dark"]  .product h2 strong {
    color: #eee !important;
}

[data-theme="dark"]  .product span{
    color: #eee !important;
}

[data-theme="dark"]  .about {
    background-color: #030e1a !important;
}

[data-theme="dark"]  .about h2 strong {
    color: #eee !important;
}

[data-theme="dark"]  .about span{
    color: #eee !important;
}

[data-theme="dark"]  .clients h2{
    color: #eee !important;
}

[data-theme="dark"]  .clients span{
    color: #eee !important;
}

[data-theme="dark"]  .testimonial-slide .carousel-item{
    background-color: #081b30 !important;

}

[data-theme="dark"] .about-slide .carousel-inner {
    background-color: #081b30 !important;
}

[data-theme="dark"] .john {
    background-color: #081b30 !important;
}

[data-theme="dark"]  .contact_us h2 strong{
    color: #eee !important;
}

[data-theme="dark"]  .contact_us span{
    color: #eee !important;
}

[data-theme="dark"]  .contact_us_2{
    background-color: #030e1a !important;
}

[data-theme="dark"] .banner-main1  .carousel-inner{
    background-color: #081b30 !important;
}
/* [data-theme="dark"] . */
/* # */

[data-theme="dark"] {
    color: #eee !important;
    background-color: #030e1a !important;
}

[data-theme="dark"] {
    color: #eee !important;
    background-color: #030e1a !important;
}

[data-theme="dark"] {
    color: #eee !important;
    background-color: #030e1a !important;
}

[data-theme="dark"] .bg-black {
    background-color: #fff !important;
}

[data-theme="dark"] .bg-light {
    background-color: #222 !important;
}

[data-theme="dark"] .dropdown-menu {
    background-color: #222 !important;

}

[data-theme="dark"] .dropdown-menu {
    background-color: #222 !important;

}

[data-theme="dark"] .dropdown-menu a {
    color: #eee !important;
}